<!DOCTYPE HTML>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<script src="../script/js/jquery-easyui-1.3.3/jquery.min.js" type="text/javascript"></script>
	<script src="../script/js/jquery-easyui-1.3.3/jquery.easyui.min.js" type="text/javascript"></script>
	<script src="../script/js/jquery-easyui-1.3.3/locale/easyui-lang-zh_CN.js" type="text/javascript"></script>
	<script src="../script/js/index.js" type="text/javascript"></script>
	<script src="../script/js/angular.min.js" type="text/javascript"></script>
	<script src="../script/js/datagrid-detailview.js" type="text/javascript"></script>
	<link href="../script/js/jquery-easyui-1.3.3/themes/icon.css" media="screen" rel="stylesheet" type="text/css" />
	<link href="../script/js/jquery-easyui-1.3.3/themes/default/easyui.css" media="screen" rel="stylesheet" type="text/css" />
	<link href="../script/css/index.css" media="screen" rel="stylesheet" type="text/css" />
	<link href="../script/css/base.css" media="screen" rel="stylesheet" type="text/css" />
	<link href="../script/css/icon.css" media="screen" rel="stylesheet" type="text/css" />
    <title>PCB检验检测系统</title>
</head>
<body class="easyui-layout"  ng-app="testApp" ng-controller="testCtrl" >

	<div data-options="region:'north',border:false"  class="header">
		<div ng-include="'../head.html'" ng-if="menu!=null"></div>
		<div ng-if="menu==null">
			<div id="logo">
	  		<h1 style="font-size:40px;color:white;font-family:'华文行楷';">PCB检验检测系统</h1>
	  		</div>
			<div id="login_status" >
				<span style="text-align: right;margin-bottom: 5px;display: block;">&nbsp;&nbsp;
				<a target="_blank" href="/pcbmis/oh/help">在线帮助</a></span>
				<form method="post" id="logoutForm" >
					问题联系人：连金平&nbsp;&nbsp;&nbsp;
					用户名：<span id="name" ng-bind="userName"></span>&nbsp;&nbsp;&nbsp;
					<a href="/pcbmis/j_spring_cas_security_logout">退出系统</a>
				</form>
		    </div>
		</div>
	</div>
	

	<div data-options="region:'west',split:true,title:'导航'" style="width:150px;" >
		<div ng-include="'../left.html'" ng-if="menu!=null"></div>
		<div ng-if="menu==null"></div>
	</div>

	<div data-options="region:'south',border:false"  class="footer">
		<div ng-include="'../foot.html'" ng-if="menu!=null"></div>
		<div ng-if="menu==null"></div>
	</div>
	
	
	
	<div data-options="region:'center'" >
 		<div id="centerTabs" class="easyui-tabs" fit="true" border="false" style="width: 100%;">   
            <div title="我的任务" border="false">
				<div class="easyui-layout" style="width: 100%; " fit="true">
					<div data-options="region:'center'" >
						<div class="easyui-layout" style="width: 100%; " fit="true">
							<div data-options="region:'center',title:'待检验列表'" >
								<div class="easyui-layout" style="width: 100%; " fit="true">
									<div data-options="region:'north',border:false" style="height: 40px;line-height: 40px;">
										<div style="padding: 0px 10px;">工单号：<input type="text" id="checknum"></div>
									</div>
									<div data-options="region:'center'">
									<table id="productList"></table>
									</div>
								</div>
							</div>
							<div id="statisticDialog" class="statisticDialog" data-options="region:'south',title:'待处理报告',collapsible:false,split:true" border="false" style="height:400px;">
						        <div class="easyui-layout" style="width: 100%; " fit="true">
									<div data-options="region:'north',border:false" style="height: 40px;line-height: 40px;">
										<div style="padding: 0px 10px;">工单号：<input type="text" id="reportNum"></div>
									</div>
									<div data-options="region:'center'">
										<table id="reportList" ></table>
									</div>
								</div>
			            	</div> 
						</div>
					</div>
		
		
					
					<div data-options="region:'east',title:'最新动态'" style="width:500px;">
					 	<table id="test_grid" >
					     </table>
					</div>
					
				</div>
		    </div>
		
		    </div>
		</div>


<script type="text/javascript">
var app = angular.module('testApp', []);
app.controller('testCtrl', function ($scope, $http) {    	
    $http.get("/pcbmis/roleAuth/getUserDetail" ,{timeout:8000}).success(function (response) {
    	$scope.systemsUrl = response.systemsUrl;
    	var  type=getUrlParam("type");
    	if(type!=null){
    	}else{
        	$scope.menu = response.menu;
        	$scope.secondMenu = response.menu.secondMenu;
        	$scope.roles = response.roles;
    	}
    	$scope.userName = response.userName;
    	
    }).error(function(data,status){ 
        if(status=='timeout'){
       	 window.location.href="/pcbmis/j_spring_cas_security_logout"
       }
       
   }); 
})


</script>

</body>
</html>