<!DOCTYPE HTML>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<script src="../script/js/jquery-1.6.4.min.js"></script>
	<script src="../script/js/jquery-easyui-1.3.3/jquery.easyui.min.js" type="text/javascript"></script>
	<script src="../script/js/jquery-easyui-1.3.3/locale/easyui-lang-zh_CN.js" type="text/javascript"></script>
	 <script src="../script/js/test-num.js" type="text/javascript"></script> 
	<script src="../script/js/datagrid-detailview.js" type="text/javascript"></script>
	<script src="../script/js/angular.min.js" type="text/javascript"></script>
	<script src="../script/js/param.js"></script>
	<link href="../script/js/jquery-easyui-1.3.3/themes/icon.css" media="screen" rel="stylesheet" type="text/css" />
	<link href="../script/js/jquery-easyui-1.3.3/themes/default/easyui.css" media="screen" rel="stylesheet" type="text/css" />
	<link href="../script/css/index.css" media="screen" rel="stylesheet" type="text/css" />
	<link href="../script/css/base.css" media="screen" rel="stylesheet" type="text/css" />
	<link href="../script/css/icon.css" media="screen" rel="stylesheet" type="text/css" />
    <title>PCB检验检测系统</title>
    <style>
    .div{ 
	    border: 1px solid #4d4d4d6b;
	    min-height: 50px;
	    word-break: break-all;
	    word-wrap: break-word;
	    white-space: pre-wrap;
	    overflow-x: hidden;
	    overflow-y: auto;
	    line-height: 20px;
	    font-size: 12px;
    }
    </style>
</head>
<body class="easyui-layout"  ng-app="testApp"  >


     <!--  header  -->
	<div data-options="region:'north',border:false"  class="header"  ng-controller="Ctrl" >
		<div ng-include="'../head.html'"></div>
	</div>
	

	<!-- 导航 -->
	<div data-options="region:'west',split:true,title:'导航'" style="width:150px;"    ng-controller="aaCtrl" >
		<div ng-include="'../left.html'"></div>
	</div>
	
	<!-- foot -->
	<div data-options="region:'south',border:false"  class="footer"   ng-controller="bbCtrl" >
		<div ng-include="'../foot.html'"> </div>
	</div>
	
	
	
    <div data-options="region:'center'"  ng-controller="testCtrl" >
        <div id="centerTabs" class="easyui-tabs" fit="true" border="false" style="width: 100%;">   
			<div title="检验记录表" style="padding:10px;" >
				<div class="easyui-layout" style="width: 100%; " fit="true">
					<div data-options="region:'center'" >
						<form  id="gbin1form">
						<table class="guding-table" ellspacing="0" cellpadding="0" >
					         <tbody>
					         <tr>
					         	<th>NO：</th>
					         	<th colspan="2"><span  ng-bind="auditDetail.checkHead.serialNumber"></span></th>
					         	<th >版次：</th>
					         	<th><span  ng-bind="auditDetail.checkHead.revision"></span></th>
					         	<th >编号：</th>
								<th><span  ng-bind="auditDetail.checkHead.document_number"></span></th>
					         </tr>
					          <tr>
					         	<th >工单号</th>
					         	<th colspan="2"><span  ng-bind="auditDetail.baseOrderInfo.orderNum"></span></th>
					         	<th  colspan="2">验收标准</th>
					         	<th colspan="2">
					         		<select id="templateId" ng-options="x.index as x.desc for x in data"  ng-model="selected" ng-change="change_templateId()">
<!-- 					         			<option ng-repeat="x in data" value={{x.index}} >{{x.desc}}</option> -->
					         		</select>
					         	</th>
					         </tr>
					          <tr>
					         	<th >来料数量块</th>
					         	<th colspan="2"><span id="detail_CheckoutPcs"  ng-bind="auditDetail.baseOrderInfo.amountCheckoutPcs"></span></th>
					         	<th colspan="2">抽检数量块</th>
					         	<th colspan="2">
					         		<div ng-if="auditDetail.checkHead.spotCheckNum!=''">
					         			<input type='text' id='detail_check' ng-value="auditDetail.checkHead.spotCheckNum" onblur="btn_changeNum()">
					         		</div>
					         	</th>
					         </tr>
					         <tr>
					         	<th >顾客单位</th>
					         	<th colspan="2"><span  ng-bind="auditDetail.baseOrderInfo.guestName"></span></th>
					         	<th colspan="2">板名</th>
					         	<th colspan="2"><span  ng-bind="auditDetail.baseOrderInfo.boardName"></span></th>
					         </tr>
					         <tr>
					         	<th  colspan="2" style="width: 20%" class="light-blue">检验项目</th>
								<th  colspan="2" style="width: 30%" class="light-blue">检验要求</th>
								<th  style="width: 20%" class="light-blue">检验结果</td>
								<th  style="width: 20%" class="light-blue">不良数量</td>
								<th  style="width: 10%" class="light-blue">判定</th>
					         </tr>
					         <tr>
					         	<td >印制板信息</td>
								<td >生产厂家</td>
								<td colspan="2"><span id="factory" ng-bind="auditDetail.factory.require" ></span></td>
								<td >
								 	<select  class="select0" id="factory_result"  name="factory_result"  ng-model="auditDetail.factory.result" ng-if="auditDetail.factory.result!=='' ">
										<option ng-repeat="x in auditDetail.factoryNames" >{{x}}</option>
									</select>
									 <select class="select0" id="factory_result"  name="factory_result" ng-if="auditDetail.factory.result =='' " >
										<option value="{{x}}" ng-repeat="x in auditDetail.factoryNames" ng-selected="x == auditDetail.factory.require">{{x}}</option>
									</select>
								</td>
								<td><input  style="display: none;" id="factory_bad_num" name="factory_bad_num" type="number" ></td>
								<td>
									<select  id="factory_judge_result" name="factory_judge_result" onclick='handle("factory_judge_result","factory_bad_num")'>
										<option>合格</option>
										<option>不合格</option>
										<option>/</option>
									</select>
								</td>
					         </tr>
					         <tr>
					         	<td rowspan="4">印制板边缘</td>
								<td >毛刺</td>
								<td colspan="2"><span id="burrs_require" ng-bind-html="auditDetail.burrs.require | trustHtml" ></span></td>
								<td><input class="input" type="text"id="burrs_result" ng-value="auditDetail.burrs.result">
<!-- 									<select class="select" id="burrs_result" name="burrs_result" > -->
<!-- 										<option>无毛刺</option> -->
<!-- 										<option>金属毛刺</option> -->
<!-- 										<option>有非金属毛刺但未磨损</option> -->
<!-- 									</select> -->
								</td>
								<td><input style="display: none;" type="number"id="burrs_bad_num" name="burrs_bad_num" class="" ng-value="auditDetail.burrs.badNum"></td>
								<td>
									<select id="burrs_judge_result" name="burrs_judge_result" onclick='handle("burrs_judge_result","burrs_bad_num")'>
										<option>合格</option>
										<option>不合格</option>
										<option>/</option>
									</select>
								</td>
					         </tr>
					         <tr>
								<td >缺口</td>
								<td colspan="2"><span id="gap_require" ng-bind="auditDetail.gap.require" ></span></td>
								<td><input class="input" type="text"id="gap_result" ng-value="auditDetail.gap.result">
<!-- 									<select class="select" id="gap_result" name="gap_result" > -->
<!-- 										<option>无缺口</option> -->
<!-- 										<option>缺口≤50%或≤2.5mm</option> -->
<!-- 										<option >缺口＞50%或＞2.5mm</option> -->
<!-- 									</select> -->
								</td>
								<td><input style="display: none;"type="number"  id="gap_bad_num" class="" name="gap_bad_num" ng-value="auditDetail.gap.badNum" ></td>
								<td>
									<select  id="gap_judge_result" name="gap_judge_result" onclick='handle("gap_judge_result","gap_bad_num")'>
										<option>合格</option>
										<option>不合格</option>
										<option>/</option>
									</select>
								</td>
					         </tr>
					         <tr>
								<td >露铜</td>
							    <td colspan="2"><span ng-bind="auditDetail.exposedCopper.require" ></span></td>
								<td><input class="input" type="text"id="exposedCopper_result" ng-value="auditDetail.exposedCopper.result">
<!-- 									<select  class="select" id="exposedCopper_result" name="exposedCopper_result"> -->
<!-- 										<option>无露铜</option> -->
<!-- 										<option>露铜</option> -->
<!-- 										<option>顾客允许露铜</option> -->
<!-- 									</select> -->
<!-- 								</td> -->
								<td><input  style="display: none;" type="number" id="exposedCopper_bad_num" class="" name="exposedCopper_bad_num" ng-value="auditDetail.exposedCopper.badNum"></td>
								<td>
									<select  id="exposedCopper_judge_result" name="exposedCopper_judge_result" onclick='handle("exposedCopper_judge_result","exposedCopper_bad_num")'>
										<option>合格</option>
										<option>不合格</option>
										<option>/</option>
									</select>
								</td>
					         </tr>
					         <tr>
								<td >其他缺陷</td>
								<td colspan="2">
									<input class="input"  type="text"id="printed_board_else_require"name="printed_board_else_require" ng-value="auditDetail.printed_board_else.require">
									<!-- <input class="input"  type="text"id="printed_board_else_require"name="printed_board_else_require" value="无缺陷" ng-if="auditDetail.printed_board_else.require==''"> -->
								</td>
								<td>
									<input class="input" type="text"id="printed_board_else_result"name="printed_board_else_result"ng-value="auditDetail.printed_board_else.result" >
<!-- 									<input class="input" type="text"id="printed_board_else_result"name="printed_board_else_result"ng-if="auditDetail.printed_board_else.result==''" value="无缺陷"> -->
								</td>
								<td><input style="display: none;" type="number"  class=""id="printed_board_else_bad_num"name="printed_board_else_bad_num"ng-value="auditDetail.printed_board_else.badNum"></td>
								<td>
									<select id="printed_board_else_judge_result"name="printed_board_else_judge_result" onclick='handle("printed_board_else_judge_result","printed_board_else_bad_num")'>
										<option>合格</option>
										<option>不合格</option>
										<option>/</option>
									</select>
								</td>
					         </tr>
					         <tr>
					         	<td rowspan="6">基材</td>
								<td >露织物、显布纹</td>
								<td colspan="2"><span ng-bind="auditDetail.fabricTexture.require" ></span></td>
								<td><input class="input" type="text"id="fabricTexture_result" ng-value="auditDetail.fabricTexture.result">
									<!-- <select  class="select" id="fabricTexture_result" name="fabricTexture_result" >
										<option>无露织物、显布纹</option>
										<option >露织物、显布纹</option>
									</select> -->
								</td>
								<td><input  style="display: none;" class=""type="number" id="fabricTexture_bad_num" name="fabricTexture_bad_num" ng-value="auditDetail.fabricTexture.badNum"></td>
								<td>
									<select  id="fabricTexture_judge_result"name="fabricTexture_judge_result" onclick='handle("fabricTexture_judge_result","fabricTexture_bad_num")'>
										<option>合格</option>
										<option>不合格</option>
										<option>/</option>
									</select>
								</td>
					         </tr>
					         <tr>
								<td >麻点和空洞</td>
								<td  colspan="2"><span ng-bind-html="auditDetail.pitVoid.require | trustHtml" ></span></td>
								<td><input  class="input"type="text" id="pitVoid_result" name="pitVoid_result" ng-value="auditDetail.pitVoid.result"  ></td>
								<td><input style="display: none;" type="number" class="" id="pitVoid_bad_num" name="pitVoid_bad_num" ng-value="auditDetail.pitVoid.badNum"></td>
								<td>
									<select id="pitVoid_judge_result"  name="pitVoid_judge_result" onclick='handle("pitVoid_judge_result","pitVoid_bad_num")'>
										<option>合格</option>
										<option>不合格</option>
										<option>/</option>
									</select>
								</td>
					         </tr>
					         <tr>
								<td >白斑、微裂纹</td>
								<td  colspan="2"><span ng-bind-html="auditDetail.spotCrack.require | trustHtml" ></span></td>
								<td><input  class="input"type="text" id="spotCrack_result" name="spotCrack_result" ng-value="auditDetail.spotCrack.result"></td>
								<td><input style="display: none;" type="number" id="spotCrack_bad_num" name="spotCrack_bad_num"  ng-value="auditDetail.spotCrack.badNum"></td>
								<td>
									<select id="spotCrack_judge_result"  name="spotCrack_judge_result"  onclick='handle("spotCrack_judge_result","spotCrack_bad_num")'>
										<option>合格</option>
										<option>不合格</option>
										<option>/</option>
									</select>
								</td>
					         </tr>
					         <tr>
								<td >分层、起泡</td>
								<td  colspan="2"><span ng-bind="auditDetail.delaminationFoaming.require" ></span></td>
								<td><input class="input" type="text"id="delaminationFoaming_result" ng-value="auditDetail.delaminationFoaming.result">
<!-- 									<select  class="select" id="delaminationFoaming_result" name="delaminationFoaming_result" > -->
<!-- 										<option>无分层、无起泡</option> -->
<!-- 										<option>分层</option> -->
<!-- 										<option>起泡</option> -->
<!-- 									</select> -->
								</td>
								<td><input  style="display: none;" type="number" id="delaminationFoaming_bad_num"name="delaminationFoaming_bad_num" ng-value="auditDetail.delaminationFoaming.badNum"></td>
								<td>
									<select id="delaminationFoaming_judge_result"  name="delaminationFoaming_judge_result" onclick='handle("delaminationFoaming_judge_result","delaminationFoaming_bad_num")'>
										<option>合格</option>
										<option>不合格</option>
										<option>/</option>
									</select>
								</td>
					         </tr>
					         <tr>
								<td >外来夹杂物</td>
								<td colspan="2"><span ng-bind-html="auditDetail.foreignImpurity.require | trustHtml" ></span></td>
								<td><input  class="input"type="text"id="foreignImpurity_result"name="foreignImpurity_result" ng-value="auditDetail.foreignImpurity.result"></td>
								<td><input  style="display: none;" type="number" id="foreignImpurity_bad_num"name="foreignImpurity_bad_num" ng-value="auditDetail.foreignImpurity.badNum"></td>
								<td>
									<select id="foreignImpurity_judge_result"  name="foreignImpurity_judge_result" onclick='handle("foreignImpurity_judge_result","foreignImpurity_bad_num")'>
										<option>合格</option>
										<option>不合格</option>
										<option>/</option>
									</select>
								</td>
					         </tr>
					         <tr>
								<td >其他缺陷</td>
								<td colspan="2">
									<input class="input" type="text" id="base_material_else_require"name="base_material_else_require" ng-value="auditDetail.base_material_else.require">
									<!-- <input class="input" type="text"id="base_material_else_require"name="base_material_else_require" ng-if="auditDetail.base_material_else.require==''" value="无缺陷"> -->
								</td>
								<td>
									<input class="input" type="text"id="base_material_else_result"name="base_material_else_result" ng-value="auditDetail.base_material_else.result"  >
<!-- 									<input class="input" type="text"id="base_material_else_result"name="base_material_else_result" ng-if="auditDetail.base_material_else.result==''" value="无缺陷"> -->
								</td>
							    <td><input style="display: none;" type="number" id="base_material_else_bad_num"name="base_material_else_bad_num" ng-value="auditDetail.base_material_else.badNum"></td>
								<td>
									<select  id="base_material_else_judge_result"  name="base_material_else_judge_result"  onclick='handle("base_material_else_judge_result","base_material_else_bad_num")'>
										<option>合格</option>
										<option>不合格</option>
										<option>/</option>
									</select>
								</td>
					         </tr>
					         <tr>
					         	<td rowspan="10">阻焊膜</td>
								<td >印刷面</td>
								<td colspan="2"><span id="board_prevent_smt" ng-bind="auditDetail.board_prevent_smt.require" ></span></td>
								<td>
									<select  class="select0" id="board_prevent_smt_result"  name="board_prevent_smt_result" ng-model="auditDetail.board_prevent_smt.result" ng-if="auditDetail.board_prevent_smt.result!==''" >
										<option ng-repeat="x in auditDetail.board_prevent_smts" >{{x}}</option>
									</select>
									<select  class="select0" id="board_prevent_smt_result"    name="board_prevent_smt_result" ng-if="auditDetail.board_prevent_smt.result==''" >
										<option ng-repeat="x in auditDetail.board_prevent_smts" ng-selected="x == auditDetail.board_prevent_smt.require">{{x}}</option>
									</select>
								</td>
								<td><input  style="display: none;" type="number" id="board_prevent_smt_bad_num"name="board_prevent_smt_bad_num" ng-value="auditDetail.board_prevent_smt.badNum"></td>
								<td>
									<select id="board_prevent_smt_judge_result"  name="board_prevent_smt_judge_result" onclick='handle("board_prevent_smt_judge_result","board_prevent_smt_bad_num")'>
										<option>合格</option>
										<option>不合格</option>
										<option>/</option>
									</select>
								</td>
					         </tr>
					         <tr>
								<td >颜色</td>
								<td colspan="2"><span  id="prevent_smt_color" ng-bind="auditDetail.prevent_smt_color.require"></span></td>
								<td>
									<select   class="select0" id="prevent_smt_color_result"  name="prevent_smt_color_result" ng-model="auditDetail.prevent_smt_color.result" ng-if="auditDetail.prevent_smt_color.result!==''" >
										<option ng-repeat="x in auditDetail.prevent_smts_color">{{x}}</option>
									</select>
									<select   class="select0" id="prevent_smt_color_result"  name="prevent_smt_color_result"  ng-if="auditDetail.prevent_smt_color.result==''">
										<option ng-repeat="x in auditDetail.prevent_smts_color" ng-selected="x == auditDetail.prevent_smt_color.require">{{x}}</option>
									</select>
								</td>
								<td><input  style="display: none;" type="number" id="prevent_smt_color_bad_num"name="prevent_smt_color_bad_num" ng-value="auditDetail.prevent_smt_color.badNum"></td>
								<td>
									<select id="prevent_smt_color_judge_result"  name="prevent_smt_color_judge_result"onclick='handle("prevent_smt_color_judge_result","prevent_smt_color_bad_num")'>
										<option>合格</option>
										<option>不合格</option>
										<option>/</option>
									</select>
									
								</td>
					         </tr>
					         <tr>
								<td >覆盖度、附着力</td>
								<td colspan="2"><span  ng-bind-html="auditDetail.coverageAdhesion.require | trustHtml"></span></td>
								<td><input class="input"type="text"id="coverageAdhesion_result"name="coverageAdhesion_result" ng-value="auditDetail.coverageAdhesion.result"></td>
								<td><input style="display: none;" type="number" id="coverageAdhesion_bad_num"name="coverageAdhesion_bad_num" ng-value="auditDetail.coverageAdhesion.badNum"></td>
								<td>
									<select  id="coverageAdhesion_judge_result"  name="coverageAdhesion_judge_result" onclick='handle("coverageAdhesion_judge_result","coverageAdhesion_bad_num")'>
										<option>合格</option>
										<option>不合格</option>
										<option>/</option>
									</select>
								</td>
					         </tr>
					         <tr>
								<td >重合度</td>
								<td colspan="2"><span  ng-bind-html="auditDetail.coincidenceDegree.require | trustHtml"></span></td>
								<td><input  class="input"type="text"id="coincidenceDegree_result"name="coincidenceDegree_result" ng-value="auditDetail.coincidenceDegree.result"></td>
								<td><input  style="display: none;" type="number" id="coincidenceDegree_bad_num"name="coincidenceDegree_bad_num" ng-value="auditDetail.coincidenceDegree.badNum"></td>
								<td>
									<select id="coincidenceDegree_judge_result"  name="coincidenceDegree_judge_result" onclick='handle("coincidenceDegree_judge_result","coincidenceDegree_bad_num")'>
										<option>合格</option>
										<option>不合格</option>
										<option>/</option>
									</select>
								</td>
					        </tr>
					         <tr>
								<td >起泡、分层</td>
								<td colspan="2"><span ng-bind="auditDetail.foamingLayering.require" ></span></td>
								<td><input  class="input"type="text"id="foamingLayering_result"name="foamingLayering_result" ng-value="auditDetail.foamingLayering.result">
<!-- 									<select  class="select" id=foamingLayering_result name="foamingLayering_result" > -->
<!-- 										<option>无分层、无起泡</option> -->
<!-- 										<option>分层</option> -->
<!-- 										<option>起泡</option> -->
<!-- 									</select> -->
								</td>
								<td><input style="display: none;" type="number" id="foamingLayering_bad_num"name="foamingLayering_bad_num" ng-value="auditDetail.foamingLayering.badNum"></td>
								<td>
									<select id="foamingLayering_judge_result"  name="foamingLayering_judge_result" onclick='handle("foamingLayering_judge_result","foamingLayering_bad_num");'>
										<option>合格</option>
										<option>不合格</option>
										<option>/</option>
									</select>
								</td>
					         </tr>
					          <tr>
								<td >波纹、皱褶</td>
								<td colspan="2"><span ng-bind="auditDetail.corrugation.require" ></span></td>
								<td><input  class="input"type="text"id="corrugation_result"name="corrugation_result" ng-value="auditDetail.corrugation.result">
<!-- 									<select  class="select" id=corrugation_result name="corrugation_result" onclick='handle("corrugation_judge_result","corrugation_bad_num");'> -->
<!-- 										<option>无波纹、皱褶</option> -->
<!-- 										<option>波纹、皱褶处阻焊厚度不达标</option> -->
<!-- 										<option>波纹、皱褶桥连导体</option> -->
<!-- 										<option>波纹、皱褶桥连导体且阻焊厚度不达标</option> -->
<!-- 									</select> -->
								</td>
								<td ><input   style="display: none;" type="number" id="corrugation_bad_num"name="corrugation_bad_num" ng-value="auditDetail.corrugation.badNum"></td>
								<td>
									<select id="corrugation_judge_result"  name="corrugation_judge_result"  onclick='handle("corrugation_judge_result","corrugation_bad_num");'>
										<option>合格</option>
										<option>不合格</option>
										<option>/</option>
									</select>
								</td>
					         </tr>

					         <tr>
								<td >假性露铜</td>
								<td colspan="2"><span ng-bind="auditDetail.falseExposedCopper.require" ></span></td>
								<td>
									<input  class="input"type="text"id="falseExposedCopper_result"name="falseExposedCopper_result" ng-value="auditDetail.falseExposedCopper.result">
								</td>
								<!-- <td id="change_falseExposedCopper"></td> -->
								<td><input style="display: none;" type="number" id="falseExposedCopper_bad_num"name="falseExposedCopper_bad_num" ng-value="auditDetail.falseExposedCopper.badNum"></td>
								<td>
									<select id="falseExposedCopper_judge_result"  name="falseExposedCopper_judge_result"  onclick='handle("falseExposedCopper_judge_result","falseExposedCopper_bad_num");'>
										<option>合格</option>
										<option>不合格</option>
										<option>/</option>
									</select>
								</td>
					         </tr>      
					         <tr>
								<td >掉桥、掉坝</td>
								<td colspan="2"><span ng-bind="auditDetail.falseBridgeDam.require" ></span></td>
								<td><input  class="input"type="text"id="falseBridgeDam_result"name="falseBridgeDam_result" ng-value="auditDetail.falseBridgeDam.result">
<!-- 									<select  class="select" id="falseBridgeDam_result" name="falseBridgeDam_result" onclick='handle("falseBridgeDam_judge_result","falseBridgeDam_bad_num");'> -->
<!-- 										<option>无掉桥、无掉坝</option> -->
<!-- 										<option>掉桥</option> -->
<!-- 										<option>掉坝</option> -->
<!-- 									</select> -->
								</td>
								<td><input  style="display: none;" type="number" id="falseBridgeDam_bad_num" name="falseBridgeDam_bad_num" ng-value="auditDetail.falseBridgeDam.badNum"></td>
								<td>
									<select id="falseBridgeDam_judge_result"  name="falseBridgeDam_judge_result" onclick='handle("falseBridgeDam_judge_result","falseBridgeDam_bad_num");'>
										<option>合格</option>
										<option>不合格</option>
										<option>/</option>
									</select>
								</td>
					         </tr>
					         <tr>
								<td >色差</td>
								<td colspan="2"><span ng-bind="auditDetail.chromaticAberration.require" ></span></td>
								<td><input  class="input"type="text"id="chromaticAberration_result"name="chromaticAberration_result" ng-value="auditDetail.falseBridgeDam.result">
<!-- 									<select  class="select"  id=chromaticAberration_result name="chromaticAberration_result" onclick='handle("chromaticAberration_judge_result","chromaticAberration_bad_num");'> -->
<!-- 										<option>无色差</option> -->
<!-- 										<option>同一块板有色差</option> -->
<!-- 										<option>同一批板有色差</option> -->
<!-- 										<option>同一块板、同一批板均有色差</option> -->
<!-- 									</select> -->
								</td>
								<td><input   style="display: none;" type="number" id="chromaticAberration_bad_num" name="chromaticAberration_bad_num" ng-value="auditDetail.chromaticAberration.badNum"></td>
								<td>
									<select id="chromaticAberration_judge_result"  name="chromaticAberration_judge_result" onclick='handle("chromaticAberration_judge_result","chromaticAberration_bad_num");'>
										<option>合格</option>
										<option>不合格</option>
										<option>/</option>
									</select>
								</td>
					         </tr>
					         <tr>
								<td >其他缺陷</td>
								<td colspan="2">
									<input  class="input" type="text" id="soldermask_else_require"name="soldermask_else_require" ng-value="auditDetail.soldermask_else.require">
									<!-- <input  class="input" type="text" id="soldermask_else_require"name="soldermask_else_require" ng-if="auditDetail.soldermask_else.require==''" value="无缺陷"> -->
								</td>
							    <td>
							    	<input  class="input"type="text"id="soldermask_else_result"name="soldermask_else_result"  ng-value="auditDetail.soldermask_else.result">
<!-- 							    	<input  class="input"type="text"id="soldermask_else_result"name="soldermask_else_result"  ng-if="auditDetail.soldermask_else.result==''" value="无缺陷"> -->
							    </td>
							    <td><input  style="display: none;" type="number" id="soldermask_else_bad_num"name="soldermask_else_bad_num"  ng-value="auditDetail.soldermask_else.badNum"></td>
								<td>
									<select  id="soldermask_else_judge_result"  name="soldermask_else_judge_result" onclick='handle("soldermask_else_judge_result","soldermask_else_bad_num")'>
										<option>合格</option>
										<option>不合格</option>
										<option>/</option>
									</select>
								</td>
					         </tr>
					          <tr>
					         	<td rowspan="7" >标记</td>
								<td >印刷面</td>
								<td colspan="2"><span id="board_character" ng-bind="auditDetail.board_character.require" ></span></td>
								<td>
									<select  class="select0"id=board_character_result   name="board_character_result" ng-model="auditDetail.board_character.result" ng-if="auditDetail.board_character.result!==''" >
										<option ng-repeat="x in auditDetail.board_characters">{{x}}</option>
									</select>
									<select  class="select0"id=board_character_result  name="board_character_result"   ng-if="auditDetail.board_character.result==''" >
										<option ng-repeat="x in auditDetail.board_characters" ng-selected="x == auditDetail.board_character.require">{{x}}</option>
									</select>
								</td>
								<td><input   style="display: none;" type="number" id="board_character_bad_num"name="board_character_bad_num" ng-value="auditDetail.board_character.badNum"></td>
								<td>
									<select id="board_character_judge_result"  name="board_character_judge_result"onclick='handle("board_character_judge_result","board_character_bad_num")'>
										<option>合格</option>
										<option>不合格</option>
										<option>/</option>
									</select>
								</td>
					         </tr>
					         <tr>
								<td >颜色</td>
							    <td colspan="2"><span id="character_color" ng-bind="auditDetail.character_color.require" ></span></td>
								<td>
									<select class="select0" id=character_color_result   name="character_color_result"  ng-model="auditDetail.character_color.result" ng-if="auditDetail.character_color.result!==''"  >
										<option ng-repeat="x in auditDetail.character_colors">{{x}}</option>
									</select>
									<select class="select0" id=character_color_result  name="character_color_result" 	 ng-if="auditDetail.character_color.result ==''"  >
										<option ng-repeat="x in auditDetail.character_colors" ng-selected="x == auditDetail.character_color.require">{{x}}</option>
									</select>
								</td>
								<td><input   style="display: none;" type="number" id="character_color_bad_num"name="character_color_bad_num"ng-value="auditDetail.character_color.badNum"></td>
								<td>
									<select id="character_color_judge_result"  name="character_color_judge_result" onclick='handle("character_color_judge_result","character_color_bad_num")'>
										<option>合格</option>
										<option>不合格</option>
										<option>/</option>
									</select>
								</td>
					         </tr>
					         <tr>
								<td >辨识度、附着力</td>
							 	<td colspan="2"><span ng-bind="auditDetail.identificationAdhesion.require" ></span></td>
								<td><input  class="input" type="text"id="identificationAdhesion_result"name="identificationAdhesion_result" ng-value="auditDetail.identificationAdhesion.result"></td>
								<td><input   style="display: none;" type="number" id="identificationAdhesion_bad_num"name="identificationAdhesion_bad_num" ng-value="auditDetail.identificationAdhesion.badNum"></td>
								<td>
									<select  id="identificationAdhesion_judge_result"  name="identificationAdhesion_judge_result"  onclick='handle("identificationAdhesion_judge_result","identificationAdhesion_bad_num")'>
										<option>合格</option>
										<option>不合格</option>
										<option>/</option>
									</select>
								</td>
					         </tr>
					         <tr>
								<td >Logo</td>
								<td colspan="2"><span id="logo" ng-bind="auditDetail.logo.require" ></span></td>
								<td>
									<select class="select0" id=logo_result name="logo_result"  ng-model="auditDetail.logo.result" ng-if="auditDetail.logo.result!==''"   onchange="change_logo_result()">
										<option ng-repeat="x in auditDetail.logos">{{x}}</option>
									</select>
									<select class="select0" id=logo_result name="logo_result"  ng-if="auditDetail.logo.result ==''"  onchange="change_logo_result()">
										<option ng-repeat="x in auditDetail.logos" ng-selected="x == auditDetail.logo.require">{{x}}</option>
									</select>
								</td>
								<td><input   style="display: none;" type="number" id="logo_bad_num"name="logo_bad_num" ng-value="auditDetail.logo.badNum"></td>
								<td>
									<select id="logo_judge_result"  name="logo_judge_result"onclick='handle("logo_judge_result","logo_bad_num")'>
										<option>合格</option>
										<option>不合格</option>
										<option>/</option>
									</select>
								</td>
					         </tr>
					         <tr>
								<td >批次号</td>
								<td colspan="2">
									<span id="batch_number_require" ng-bind="auditDetail.batch_number.require" ng-if="auditDetail.batch_number.require!=''"></span>
									<span id="batch_number_require" ng-bind="auditDetail.logo.require" ng-if="auditDetail.batch_number.require==''"></span>
								</td>
								<td><input  class="input"type="text"id="batch_number_result"name="batch_number_result" ng-value="auditDetail.batch_number.result"></td>
								<td><input   style="display: none;" type="number" id="batch_number_bad_num"name="batch_number_bad_num" ng-value="auditDetail.batch_number.badNum"></td>
								<td>
									<select id="batch_number_judge_result"  name="batch_number_judge_result" onclick='handle("batch_number_judge_result","batch_number_bad_num")'>
										<option>合格</option>
										<option>不合格</option>
										<option>/</option>
									</select>
								</td>
					         </tr>
					          <tr>
								<td >特殊板号</td>
								<td colspan="2"><input  class="input" type="text"id="special_board_num_require"name="special_board_num_require" ng-value="auditDetail.special_board_num.require"></td>
								<td><input  class="input"type="text"id="special_board_num_result"name="special_board_num_result" ng-value="auditDetail.special_board_num.result"></td>
								<td><input  style="display: none;"  type="number" id="special_board_num_bad_num"name="special_board_num_bad_num"ng-value="auditDetail.special_board_num.badNum"></td>
								<td>
									<select id="special_board_num_judge_result"  name="special_board_num_judge_result" onclick='handle("special_board_num_judge_result","special_board_num_bad_num")'>
										<option>合格</option>
										<option>不合格</option>
										<option>/</option>
									</select>
								</td>
					         </tr>
					         <tr>
								<td >其他缺陷</td>
								<td colspan="2">
									<input  class="input" type="text"id="mark_else_require"name="mark_else_require" ng-value="auditDetail.mark_else.require">
									<!-- <input  class="input" type="text"id="mark_else_require"name="mark_else_require" ng-if="auditDetail.mark_else.require==''" value="无缺陷"> -->
								</td>
								<td>
									<input  class="input"type="text"class=""id="mark_else_result"name="mark_else_result" ng-value="auditDetail.mark_else.result">
									<!-- <input  class="input"type="text"class=""id="mark_else_result"name="mark_else_result" ng-if="auditDetail.mark_else.result==''" value="无缺陷"> -->
								</td>
								<td><input style="display: none;" type="number" id="mark_else_bad_num"name="mark_else_bad_num" ng-value="auditDetail.mark_else.badNum"></td>
								<td>
									<select  id="mark_else_judge_result"  name="mark_else_judge_result"  onclick='handle("mark_else_judge_result","mark_else_bad_num")'>
										<option>合格</option>
										<option>不合格</option>
										<option>/</option>
									</select>
								</td>
					         </tr>
					         <tr>
					         	<td rowspan="9">导电图形</td>
								<td >结瘤、毛刺</td>
							    <td colspan="2"><span ng-bind="auditDetail.nodulesBurrs.require"></span></td>
<!-- 								<td id="change_nodulesBurrs"></td> -->
								<td>
									<input  class="input"type="text"id="nodulesBurrs_result"name="nodulesBurrs_result" ng-value="auditDetail.nodulesBurrs.result">
								</td>
								<td><input style="display: none;" type="number" id="nodulesBurrs_bad_num"name="nodulesBurrs_bad_num" ng-value="auditDetail.nodulesBurrs.badNum"></td>
								<td>
									<select id="nodulesBurrs_judge_result"  name="nodulesBurrs_judge_result" onclick='handle("nodulesBurrs_judge_result","nodulesBurrs_bad_num")'>
										<option>合格</option>
										<option>不合格</option>
										<option>/</option>
									</select>
								</td>
					         </tr>
					         <tr>
								<td >孔内铅锡发暗</td>
							    <td colspan="2"><span ng-bind="auditDetail.darkOfHoleTinLead.require" ></span></td>
<!-- 								<td id="change_darkOfHoleTinLead"></td> -->
								<td>
									<input  class="input"type="text"id="darkOfHoleTinLead_result"name="darkOfHoleTinLead_result" ng-value="auditDetail.darkOfHoleTinLead.result">
								</td>
								<td><input  style="display: none;" type="number"   class="" id="darkOfHoleTinLead_bad_num"name="darkOfHoleTinLead_bad_num"  ng-value="auditDetail.darkOfHoleTinLead.badNum"></td>
								<td>
									<select  id="darkOfHoleTinLead_judge_result"  name="darkOfHoleTinLead_judge_result" onclick='handle("darkOfHoleTinLead_judge_result","darkOfHoleTinLead_bad_num")'>
										<option>合格</option>
										<option>不合格</option>
										<option>/</option>
									</select>
								</td>
					         </tr>
					         <tr>
								<td >焊盘起翘</td>
								<td colspan="2"><span ng-bind="auditDetail.padCocked.require" ></span></td>
								<td>
									<input  class="input"type="text"id="padCocked_result"name="padCocked_result" ng-value="auditDetail.padCocked.result">
								</td>
<!-- 								<td> -->
<!-- 									<select class="select" id="padCocked_result"name="padCocked_result"> -->
<!-- 										<option>无焊盘起翘</option> -->
<!-- 										<option>焊盘起翘</option> -->
<!-- 									</select> -->
<!-- 								</td> -->
							    <td><input style="display: none;"  type="number"  class="" id="padCocked_bad_num"name="padCocked_bad_num" ng-value="auditDetail.padCocked.badNum"></td>
								<td>
									<select  id="padCocked_judge_result"  name="padCocked_judge_result" onclick='handle("padCocked_judge_result","padCocked_bad_num");'>
										<option>合格</option>
										<option>不合格</option>
										<option>/</option>
									</select>
								</td>
					         </tr>
					         <tr>
								<td >晕圈</td>
								<td colspan="2"><span ng-bind="auditDetail.haloRing.require" ></span></td>
<!-- 								<td id="change_haloRing"></td> -->
								<td>
									<input  class="input"type="text"id="haloRing_result"name="haloRing_result" ng-value="auditDetail.haloRing.result">
								</td>
								<td><input  style="display: none;" type="number"  class="" id="haloRing_bad_num"name="haloRing_bad_num" ng-value="auditDetail.haloRing.badNum"></td>
								<td>
									<select  id="haloRing_judge_result"  name="haloRing_judge_result" onclick='handle("haloRing_judge_result","haloRing_bad_num")'>
										<option>合格</option>
										<option>不合格</option>
										<option>/</option>
									</select>
								</td>
					         </tr>
					         <tr>
								<td >外层环宽</td>
								<td colspan="2"><span ng-bind="auditDetail.outerRingWidth.require" ></span></td>
<!-- 								<td id="change_outerRingWidth"> -->

<!-- 								</td> -->
								<td>
									<input  class="input"type="text"id="outerRingWidth_result"name="outerRingWidth_result" ng-value="auditDetail.outerRingWidth.result">
								</td>
								<td><input style="display: none;" type="number"    class=""  id="outerRingWidth_bad_num"  name="outerRingWidth_bad_num" ng-value="auditDetail.outerRingWidth.badNum"></td>
								<td>
									<select  id="outerRingWidth_judge_result"  name="outerRingWidth_judge_result"onclick='handle("outerRingWidth_judge_result","outerRingWidth_bad_num");'>
										<option>合格</option>
										<option>不合格</option>
										<option>/</option>
									</select>
								</td>
					         </tr>
					         <tr>
								<td>锡珠入孔</td>
							    <td colspan="2"><span ng-bind="auditDetail.solderInHole.require" ></span></td>
<!-- 								<td id="change_solderInHole"> -->
								   
<!-- 								</td> -->
								<td>
									<input  class="input"type="text"id="solderInHole_result"name="solderInHole_result" ng-value="auditDetail.solderInHole.result">
								</td>
								<td><input style="display: none;" type="number" id="solderInHole_bad_num"  name="solderInHole_bad_num" ng-value="auditDetail.solderInHole.badNum"></td>
								<td>
									<select id="solderInHole_judge_result"  name="solderInHole_judge_result" onclick='handle("solderInHole_judge_result","solderInHole_bad_num");'>
										<option>合格</option>
										<option>不合格</option>
										<option>/</option>
									</select>
								</td>
					         </tr>
					         <tr>
								<td>堵孔</td>
								<td colspan="2"><span ng-bind="auditDetail.clogHole.require" ></span></td>
								<td>
									<input  class="input"type="text"id="clogHole_result"name="clogHole_result" ng-value="auditDetail.clogHole.result">
								</td>
<!-- 								<td> -->
<!-- 									<select class="select" id="clogHole_result"name="clogHole_result"> -->
<!-- 										<option>无堵孔</option> -->
<!-- 										<option>盘中孔堵孔</option> -->
<!-- 										<option>非盘中孔堵孔</option> -->
<!-- 									</select> -->
<!-- 								</td> -->
								<td><input  style="display: none;" type="number"  id="clogHole_bad_num"  name="clogHole_bad_num" ng-value="auditDetail.clogHole.badNum"></td>
								<td>
									<select id="clogHole_judge_result"  name="clogHole_judge_result" onclick='handle("clogHole_judge_result","clogHole_bad_num");'>
										<option>合格</option>
										<option>不合格</option>
										<option>/</option>
									</select>
								</td>
					         </tr>
					         <tr>
								<td>线宽、间距等</td>
								<td colspan="2"><span ng-bind="auditDetail.lineWidthSpacing.require" ></span></td>
								<td><input type="text"class="input" id="lineWidthSpacing_result"name="lineWidthSpacing_result" ng-value="auditDetail.lineWidthSpacing.result"></td>
								<td><input style="display: none;" type="number" id="lineWidthSpacing_bad_num"name="lineWidthSpacing_bad_num" ng-value="auditDetail.lineWidthSpacing.badNum"></td>
								<td>
									<select id="lineWidthSpacing_judge_result"  name="lineWidthSpacing_judge_result"  onclick='handle("lineWidthSpacing_judge_result","lineWidthSpacing_bad_num")'>
										<option>合格</option>
										<option>不合格</option>
										<option>/</option>
									</select>
								</td>
					         </tr>
					         <tr>
								<td>其他缺陷</td>
								<td colspan="2">
									<input  class="input" type="text" id="conductive_pattern_else_require"name="conductive_pattern_else_require" ng-value="auditDetail.conductive_pattern_else.require">
									<!-- <input  class="input" type="text" id="conductive_pattern_else_require"name="conductive_pattern_else_require" ng-if="auditDetail.conductive_pattern_else.require==''" value="无缺陷"> -->
								</td>
								<td>
									<input type="text"  class="input"id="conductive_pattern_else_result"name="conductive_pattern_else_result" ng-value="auditDetail.conductive_pattern_else.result" >
<!-- 									<input type="text"  class="input"id="conductive_pattern_else_result"name="conductive_pattern_else_result" ng-if="auditDetail.conductive_pattern_else.result==''" value="无缺陷"> -->
								</td>
								<td><input style="display: none;" type="number"  id="conductive_pattern_else_bad_num"name="conductive_pattern_else_bad_num" ng-value="auditDetail.conductive_pattern_else.badNum"></td>
								<td>
									<select id="conductive_pattern_else_judge_result"  name="conductive_pattern_else_judge_result"  onclick='handle("conductive_pattern_else_judge_result","conductive_pattern_else_bad_num")'>
										<option>合格</option>
										<option>不合格</option>
										<option>/</option>
									</select>
								</td>
					         </tr>
					          <tr>
								<td colspan="2">过孔处理</td>
								<td colspan="2">
									<input id="viaHoleProcess_require"  class="input" ng-value="auditDetail.viaHoleProcess.require" oninput="OnInput (event)" onpropertychange="OnPropChanged (event)">
								</td>
								<td>
									<input type="text"  class="input" ng-value="auditDetail.viaHoleProcess.result" id="viaHoleProcess_result" ng-if="auditDetail.viaHoleProcess.result!=''">
									<input type="text"  class="input" ng-value="auditDetail.viaHoleProcess.require" id="viaHoleProcess_result" ng-if="auditDetail.viaHoleProcess.result==''">
								</td>
								<td><input  style="display: none;" type="number"  id="viaHoleProcess_badNum" name="viaHoleProcess_badNum" ng-value="auditDetail.viaHoleProcess.badNum"></td>
								<td>
									<select  id="viaHoleProcess_judge_result"  name="viaHoleProcess_judge_result"  onclick='handle("viaHoleProcess_judge_result","viaHoleProcess_badNum")'>
										<option>合格</option>
										<option>不合格</option>
										<option>/</option>
									</select>
								</td>
					         </tr>
					         <tr>
								<td colspan="2">表面处理</td>
								<td colspan="2"><span id="surface_process" ng-bind="auditDetail.surface_process.require" ></span></td>
								<td>
									<select class="select0" id="surface_process_result" name="surface_process_result" ng-model="auditDetail.surface_process.result" ng-if="auditDetail.surface_process.result!==''">
										<option ng-repeat="x in auditDetail.surfaceProcessNames">{{x}}</option>
									</select>
								    <select class="select0" id="surface_process_result"  name="surface_process_result" ng-if="auditDetail.surface_process.result==''" >
										<option ng-repeat="x in auditDetail.surfaceProcessNames" ng-selected="x == auditDetail.surface_process.require">{{x}}</option>
									</select>
								</td>
								<td><input  style="display: none;" type="number"  id="surface_process_bad_num"name="surface_process_bad_num" ng-value="auditDetail.surface_process.badNum"></td>
								<td>
									<select  id="surface_process_judge_result"  name="surface_process_judge_result"  onclick='handle("surface_process_judge_result","surface_process_bad_num")'>
										<option>合格</option>
										<option>不合格</option>
										<option>/</option>
									</select>
								</td>
					         </tr>
					         <tr>
								<td rowspan="3">外形尺寸</td>
								<td>板长（mm）</td>
								<td><span ng-bind="auditDetail.boardLong.require" ></span></td>
								<td><span ng-bind="auditDetail.boardLong.boardTolerance" ></span></td>
								<td><span ng-bind="auditDetail.boardLong.result" ></span></td>
								<td><input style="display: none;" type="number"  id="boardLong_bad_num"name="boardLong_bad_num" ng-value="auditDetail.boardLong.badNum"></td>
								<td>
									<select  id="boardLong_judge_result"  name="boardLong_judge_result" onclick='handle("boardLong_judge_result","boardLong_bad_num")'>
										<option>合格</option>
										<option>不合格</option>
										<option>/</option>
									</select>
								</td>
					         </tr>
					         <tr>
								<td>板宽（mm）</td>
								<td><span ng-bind="auditDetail.boardWide.require" ></span></td>
								<td><span ng-bind="auditDetail.boardWide.boardTolerance" ></span></td>
								<td><span ng-bind="auditDetail.boardWide.result" ></span></td>
								<td><input style="display: none;" type="number"  id="boardWide_bad_num" name="boardWide_bad_num" ng-value="auditDetail.boardWide.badNum"></td>
								<td>
									<select id="boardWide_judge_result"  name="boardWide_judge_result" onclick='handle("boardWide_judge_result","boardWide_bad_num")'>
										<option>合格</option>
										<option>不合格</option>
										<option>/</option>
									</select>
								</td>
					         </tr>
					          <tr>
								<td>板厚（mm）</td>
								<td><span ng-bind="auditDetail.boardPly.require" ></span></td>
								<td><span ng-bind="auditDetail.boardPly.boardTolerance" ></span></td>
								<td><span ng-bind="auditDetail.boardPly.result" ></span></td>
								<td><input  style="display: none;" type="number"  id="boardPly_bad_num" name="boardPly_bad_num" ng-value="auditDetail.boardPly.badNum"></td>
								<td>
									<select id="boardPly_judge_result"  name="boardPly_judge_result" onclick='handle("boardPly_judge_result","boardPly_bad_num")'>
										<option>合格</option>
										<option>不合格</option>
										<option>/</option>
									</select>
								</td>
					         </tr>
					         <tr>
								<td rowspan="2">平整度</td>
								<td>弓曲高度</td>
								<td colspan="2"><span ng-bind="auditDetail.Lay_height.require" ></span></td>
								<td rowspan="2"><span ng-bind="auditDetail.Lay_height.result" ></span></td>
								<td rowspan="2"><input  style="display: none;" type="number"   id="lay_height_bad_num"name="lay_height_bad_num" ng-value="auditDetail.Lay_height.badNum"></td>
								<td rowspan="2">
									<select  id="lay_height_judge_result"  name="lay_height_judge_result" onclick='handle("lay_height_judge_result","lay_height_bad_num")'>
										<option>合格</option>
										<option>不合格</option>
										<option>/</option>
									</select>
								</td>
					         </tr>
					         <tr>
								<td>扭曲高度</td>
								<td  colspan="2"><span ng-bind="auditDetail.warp_height.require" ></span></td>
					         </tr>
					         <tr>
								<td>检验备注</td>
								<td colspan="6">
									<textarea id="note_note"  style="width: 100%;min-height:50px" ng-bind="note"></textarea>
<!-- 									<div id="note_note"  ng-bind-html="auditDetail.note.note | trustHtml" class="div" contenteditable="true"></div> -->
								</td>
					         </tr>
					         <tr>
								<td>错检、漏检</td>
								<td colspan="6"><span ng-bind-html="auditDetail.note.mistakeNote  | trustHtml"></span></td>
					         </tr>
					         </tbody>
		         		</table> 				         					
					        <div style="text-align: center;margin: 20px 0;font-size: 14px;">
		         			 	 <a id="tijiao1" ng-if="checkState==''||checkState=='待检验'||checkState=='检验中'" style="display: inline-block;"class="easyui-linkbutton save" iconCls="icon-ok" href="javascript:void(0)" onclick="testtijiao()">提交</a>&nbsp;&nbsp;&nbsp;
		         			 	 <a class="easyui-linkbutton excel" iconCls="icon-excel" href="javascript:void(0)"  onclick="btn_export()">导出</a>
		         			 </div>
		         		</form>

         			</div>
         		
         		
         		  	<div data-options="region:'east',title:''" style="width:500px;" >
        				<div class="easyui-accordion expand" style="padding"0 20px;" >  
		       				<div title="基础信息" style="overflow:auto;" >	  					
						      <form >
							    <div class="bottom-20">
							    <span class="xinleft">检验单号：<span ng-bind="auditDetail.baseOrderInfo.checkNum"></span></span>
								<span class="xinright">工单号：<span  ng-bind="auditDetail.baseOrderInfo.orderNum"></span></span>
								</div>
								<div class="bottom-20">
								<span class="xinleft">板名：<span  ng-bind="auditDetail.baseOrderInfo.boardName"></span></span>
								</div>
								<div class="bottom-20">
								<span class="xinleft" >客户：<span  ng-bind="auditDetail.baseOrderInfo.guestName"></span></span>
								<span class="xinright">生产厂家：<span  ng-bind="auditDetail.baseOrderInfo.factoryName"></span></span>
								</div>
								<div class="bottom-20">
								<span class="xinleft" >等级：<span  id="cate" ng-bind="auditDetail.baseOrderInfo.categoryGrade"></span></span>
								<span class="xinright">工艺：<span  ng-bind="auditDetail.baseOrderInfo.craft"></span></span>
								 </div>
								<div class="bottom-20">
								<span class="xinleft" >金相要求：<span  ng-bind="auditDetail.baseOrderInfo.metallography_require"></span></span>
								<span class="xinright">投产日期：<span  ng-bind="auditDetail.baseOrderInfo.productDate"></span></span>
								 </div>
								<div class="bottom-20">
								<span class="xinleft" >生产数量SET：<span  ng-bind="auditDetail.baseOrderInfo.productionNumSet"></span></span>
								<span class="xinright">生产数量PCS：<span  ng-bind="auditDetail.baseOrderInfo.productionNumPcs"></span></span>
								 </div>
								<div class="bottom-20">
								<span class="xinleft" >来料数量（块）：<span  ng-bind="auditDetail.baseOrderInfo.amountCheckoutPcs"></span></span>
								<span class="xinright">抽样数量（块）：<span  ng-bind="auditDetail.baseOrderInfo.spotCheckNumPcs"></span></span>
								 </div>
								<div class="bottom-20">
								<span class="xinleft" >送板人：<span  ng-bind="auditDetail.baseOrderInfo.deliveryMan"></span></span>
								<span class="xinright">送板时间：<span  ng-bind="auditDetail.baseOrderInfo.deliveryDate"></span></span>
							    </div>  
				               </form> 
		        			</div>

					        <div title="检验规范" style="overflow:auto;">
					        	<form >
				                    <table class="expand_table" width="100%">
								    <tr>
				                       <td><span   ng-bind-html="auditDetail.baseOrderInfo.inspectionSpecification | trustHtml"></span></td>
				                   </tr>
				                   </table>
				               </form>
					        </div>  
					        <div title="生产备注" style="overflow:auto;"data-options="selected:true">
						      <form >
						       <table class="expand_table" width="100%">
				                   <tr>
				                       <td><span   ng-bind-html="auditDetail.baseOrderInfo.productionNote | trustHtml"></span></td>
				                   </tr>
				               </table>	
				              </form>
					        </div>  
					        <div title="发货备注" style="overflow:auto;>
					          <form>
						       <table class="expand_table" width="100%">
				                   <tr>
				                      <td><span   ng-bind="auditDetail.baseOrderInfo.deliveryNote"></span></td>
				                   </tr>
				               </table>	
				              </form>
					        </div> 
					        <div title="商务备注" style="overflow:auto;>
					          <form >
						       <table class="expand_table"width="100%">
				                   <tr>
				                       <td><span   ng-bind="auditDetail.baseOrderInfo.businessNote"></span></td>
				                   </tr>
				               </table>	
				              </form>
					        </div>
					        <div title="CAM指示" style="overflow:auto;>
					          <form >
						       <table class="expand_table"width="100%">
				                   <tr>
				                       <td><span   ng-bind="auditDetail.baseOrderInfo.camguide"></span></td>
				                   </tr>
				               </table>	
				              </form>
					        </div>
				        </div> 
	    			</div> 
	    		</div> 				
			</div>
			
			
	   		<div title="尺寸翘曲度记录" style="padding:10px;" >
	   			<div class="easyui-layout" style="width: 100%; " fit="true">
					<div data-options="region:'center'" >
		   				<div id="row">
	   						<span id="Num"  name="Num"   hidden></span>
	   						<span id="min_Num" style="display: none"></span>
	   						<input type="text"  id="judg_bad" style="display: none;">
	   						<input type="text" id="save_judge" style="display: none;">
	   						<form id="gbin3form">
			   		  		<div id="table1">
					   		  <table class="guding-table" ellspacing="0" cellpadding="0">
					   		  <tr>
						   		  <th>板号</th>
						   		  <th colspan="3">板长</th>
						   		  <th colspan="3">板宽</th>
						   		  <th colspan="3">板厚</th>
						   		  <th>弓曲高度</th>
						   		  <th>扭曲高度</th>
						   		  <th>判定</th>
					   		  </tr>
					   		  </table>
         					</div>
			    		    <div style="text-align: center;margin: 20px 0;font-size: 14px;">
			    		         <a class="easyui-linkbutton save" iconCls="icon-add" href="javascript:void(0)" onclick="btn_add()" style="margin-bottom: 20px;">增加</a>
			    		         </br>
		         			 	 <a id="tijiao2" style="display: inline-block;"class="easyui-linkbutton save" iconCls="icon-ok" href="javascript:void(0)" onclick="testtijiao()">提交</a>&nbsp;&nbsp;&nbsp;
		         			 	 <a class="easyui-linkbutton save" iconCls="icon-excel" href="javascript:void(0)"  onclick="btn_export()">导出</a>
			         		</div>
			         		</form> 
         	    		</div>
         	    	</div>
         
         
         
          			<div data-options="region:'east',title:''" style="width:500px;" >
        				<div class="easyui-accordion expand"> 
					        <div title="检验规范" style="overflow:auto;>
					        	<form >
				                    <table class="expand_table" width="100%">
								    <tr>
				                       <td><span   ng-bind-html="auditDetail.baseOrderInfo.inspectionSpecification | trustHtml"></span></td>
				                   </tr>
				                   </table>
				               </form>
					        </div>  
					        <div title="生产备注" style="overflow:auto;"data-options="selected:true">
						      <form>
						       <table class="expand_table" width="100%">
				                   <tr>
				                       <td><span   ng-bind-html="auditDetail.baseOrderInfo.productionNote | trustHtml"></span></td>
				                   </tr>
				               </table>	
				              </form>
					        </div>  
					        <div title="发货备注" style="overflow:auto;>
					          <form>
						       <table class="expand_table" width="100%">
				                   <tr>
				                      <td><span   ng-bind="auditDetail.baseOrderInfo.deliveryNote"></span></td>
				                   </tr>
				               </table>	
				              </form>
					        </div> 
					        <div title="商务备注" style="overflow:auto;>
					          <form >
						       <table class="expand_table"width="100%">
				                   <tr>
				                       <td><span   ng-bind="auditDetail.baseOrderInfo.businessNote"></span></td>
				                   </tr>
				               </table>	
				              </form>
					        </div>
					         <div title="CAM指示" style="overflow:auto;>
					          <form >
						       <table class="expand_table"width="100%">
				                   <tr>
				                       <td><span   ng-bind="auditDetail.baseOrderInfo.camguide"></span></td>
				                   </tr>
				               </table>	
				              </form>
					        </div>
				        </div> 
	    			</div> 
    			</div> 
	   		</div> 
	   </div> 
	</div>
 
	<div id="submission_confirmation">
		<form id="submission_confirmation_form">
		<table class="nonetable">
			<tr>
				<td>不合格品数量：</td>
				<td><input type="number" id="products_num" class="easyui-validatebox" ></td>
			</tr>
			<tr>
				<td>不合格品描述：</td>
				<td><textarea id="products_describe" class="easyui-validatebox"    rows="10" cols="33" style="resize: none;"></textarea></td>
			</tr>
		</table>
		</form>

	</div>

	<div id="down">
        <form method="post" id ="export_excel"></form>
    </div>
</body>
</html>