<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pcbwx.pcbmis.dao.BasemAterialMapper" >
  <resultMap id="BaseResultMap" type="com.pcbwx.pcbmis.model.BasemAterial" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="inner_id" property="innerId" jdbcType="INTEGER" />
    <result column="inner_code" property="innerCode" jdbcType="VARCHAR" />
    <result column="basem_aterial_name" property="basemAterialName" jdbcType="VARCHAR" />
    <result column="is_special_board" property="isSpecialBoard" jdbcType="INTEGER" />
    <result column="soft_board_ply" property="softBoardPly" jdbcType="INTEGER" />
    <result column="medium_ply" property="mediumPly" jdbcType="VARCHAR" />
    <result column="enable" property="enable" jdbcType="INTEGER" />
    <result column="inner_create_time" property="innerCreateTime" jdbcType="TIMESTAMP" />
    <result column="inner_update_time" property="innerUpdateTime" jdbcType="TIMESTAMP" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, inner_id, inner_code, basem_aterial_name, is_special_board, soft_board_ply, medium_ply, 
    enable, inner_create_time, inner_update_time, create_time, update_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from basem_aterial
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from basem_aterial
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.pcbwx.pcbmis.model.BasemAterial" >
    insert into basem_aterial (id, inner_id, inner_code, 
      basem_aterial_name, is_special_board, soft_board_ply, 
      medium_ply, enable, inner_create_time, 
      inner_update_time, create_time, update_time
      )
    values (#{id,jdbcType=INTEGER}, #{innerId,jdbcType=INTEGER}, #{innerCode,jdbcType=VARCHAR}, 
      #{basemAterialName,jdbcType=VARCHAR}, #{isSpecialBoard,jdbcType=INTEGER}, #{softBoardPly,jdbcType=INTEGER}, 
      #{mediumPly,jdbcType=VARCHAR}, #{enable,jdbcType=INTEGER}, #{innerCreateTime,jdbcType=TIMESTAMP}, 
      #{innerUpdateTime,jdbcType=TIMESTAMP}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.pcbwx.pcbmis.model.BasemAterial" >
    insert into basem_aterial
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="innerId != null" >
        inner_id,
      </if>
      <if test="innerCode != null" >
        inner_code,
      </if>
      <if test="basemAterialName != null" >
        basem_aterial_name,
      </if>
      <if test="isSpecialBoard != null" >
        is_special_board,
      </if>
      <if test="softBoardPly != null" >
        soft_board_ply,
      </if>
      <if test="mediumPly != null" >
        medium_ply,
      </if>
      <if test="enable != null" >
        enable,
      </if>
      <if test="innerCreateTime != null" >
        inner_create_time,
      </if>
      <if test="innerUpdateTime != null" >
        inner_update_time,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="innerId != null" >
        #{innerId,jdbcType=INTEGER},
      </if>
      <if test="innerCode != null" >
        #{innerCode,jdbcType=VARCHAR},
      </if>
      <if test="basemAterialName != null" >
        #{basemAterialName,jdbcType=VARCHAR},
      </if>
      <if test="isSpecialBoard != null" >
        #{isSpecialBoard,jdbcType=INTEGER},
      </if>
      <if test="softBoardPly != null" >
        #{softBoardPly,jdbcType=INTEGER},
      </if>
      <if test="mediumPly != null" >
        #{mediumPly,jdbcType=VARCHAR},
      </if>
      <if test="enable != null" >
        #{enable,jdbcType=INTEGER},
      </if>
      <if test="innerCreateTime != null" >
        #{innerCreateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="innerUpdateTime != null" >
        #{innerUpdateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.pcbwx.pcbmis.model.BasemAterial" >
    update basem_aterial
    <set >
      <if test="innerId != null" >
        inner_id = #{innerId,jdbcType=INTEGER},
      </if>
      <if test="innerCode != null" >
        inner_code = #{innerCode,jdbcType=VARCHAR},
      </if>
      <if test="basemAterialName != null" >
        basem_aterial_name = #{basemAterialName,jdbcType=VARCHAR},
      </if>
      <if test="isSpecialBoard != null" >
        is_special_board = #{isSpecialBoard,jdbcType=INTEGER},
      </if>
      <if test="softBoardPly != null" >
        soft_board_ply = #{softBoardPly,jdbcType=INTEGER},
      </if>
      <if test="mediumPly != null" >
        medium_ply = #{mediumPly,jdbcType=VARCHAR},
      </if>
      <if test="enable != null" >
        enable = #{enable,jdbcType=INTEGER},
      </if>
      <if test="innerCreateTime != null" >
        inner_create_time = #{innerCreateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="innerUpdateTime != null" >
        inner_update_time = #{innerUpdateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pcbwx.pcbmis.model.BasemAterial" >
    update basem_aterial
    set inner_id = #{innerId,jdbcType=INTEGER},
      inner_code = #{innerCode,jdbcType=VARCHAR},
      basem_aterial_name = #{basemAterialName,jdbcType=VARCHAR},
      is_special_board = #{isSpecialBoard,jdbcType=INTEGER},
      soft_board_ply = #{softBoardPly,jdbcType=INTEGER},
      medium_ply = #{mediumPly,jdbcType=VARCHAR},
      enable = #{enable,jdbcType=INTEGER},
      inner_create_time = #{innerCreateTime,jdbcType=TIMESTAMP},
      inner_update_time = #{innerUpdateTime,jdbcType=TIMESTAMP},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <!-- 以下为自定义接口 -->
  <select id="load" resultMap="BaseResultMap" >
    select 
    <include refid="Base_Column_List" />
    from basem_aterial
    <!-- where enable = 1 -->
  </select>
  <select id="listByInnerIds" resultMap="BaseResultMap" parameterType="java.util.List" >
    select 
    <include refid="Base_Column_List" />
    from basem_aterial
    where inner_id IN
    <foreach collection="list" item="item" index="index" open="(" separator="," close=")">  
    	#{item}  
    </foreach>  
    ORDER BY inner_create_time desc
  </select>
</mapper>