<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pcbwx.pcbmis.dao.EdaContactMapper" >
  <resultMap id="BaseResultMap" type="com.pcbwx.pcbmis.model.EdaContact" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="contact_code" property="contactCode" jdbcType="VARCHAR" />
    <result column="contact_name" property="contactName" jdbcType="VARCHAR" />
    <result column="contact_telephone" property="contactTelephone" jdbcType="VARCHAR" />
    <result column="contact_mobile" property="contactMobile" jdbcType="VARCHAR" />
    <result column="position" property="position" jdbcType="VARCHAR" />
    <result column="fax" property="fax" jdbcType="VARCHAR" />
    <result column="contact_email" property="contactEmail" jdbcType="VARCHAR" />
    <result column="department" property="department" jdbcType="VARCHAR" />
    <result column="province" property="province" jdbcType="VARCHAR" />
    <result column="city" property="city" jdbcType="VARCHAR" />
    <result column="address" property="address" jdbcType="VARCHAR" />
    <result column="guest_code" property="guestCode" jdbcType="VARCHAR" />
    <result column="enable" property="enable" jdbcType="INTEGER" />
    <result column="inner_create_time" property="innerCreateTime" jdbcType="TIMESTAMP" />
    <result column="inner_update_time" property="innerUpdateTime" jdbcType="TIMESTAMP" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, contact_code, contact_name, contact_telephone, contact_mobile, position, fax, 
    contact_email, department, province, city, address, guest_code, enable, inner_create_time, 
    inner_update_time, create_time, update_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from eda_contact
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from eda_contact
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.pcbwx.pcbmis.model.EdaContact" >
    insert into eda_contact (id, contact_code, contact_name, 
      contact_telephone, contact_mobile, position, 
      fax, contact_email, department, 
      province, city, address, 
      guest_code, enable, inner_create_time, 
      inner_update_time, create_time, update_time
      )
    values (#{id,jdbcType=INTEGER}, #{contactCode,jdbcType=VARCHAR}, #{contactName,jdbcType=VARCHAR}, 
      #{contactTelephone,jdbcType=VARCHAR}, #{contactMobile,jdbcType=VARCHAR}, #{position,jdbcType=VARCHAR}, 
      #{fax,jdbcType=VARCHAR}, #{contactEmail,jdbcType=VARCHAR}, #{department,jdbcType=VARCHAR}, 
      #{province,jdbcType=VARCHAR}, #{city,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR}, 
      #{guestCode,jdbcType=VARCHAR}, #{enable,jdbcType=INTEGER}, #{innerCreateTime,jdbcType=TIMESTAMP}, 
      #{innerUpdateTime,jdbcType=TIMESTAMP}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.pcbwx.pcbmis.model.EdaContact" >
    insert into eda_contact
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="contactCode != null" >
        contact_code,
      </if>
      <if test="contactName != null" >
        contact_name,
      </if>
      <if test="contactTelephone != null" >
        contact_telephone,
      </if>
      <if test="contactMobile != null" >
        contact_mobile,
      </if>
      <if test="position != null" >
        position,
      </if>
      <if test="fax != null" >
        fax,
      </if>
      <if test="contactEmail != null" >
        contact_email,
      </if>
      <if test="department != null" >
        department,
      </if>
      <if test="province != null" >
        province,
      </if>
      <if test="city != null" >
        city,
      </if>
      <if test="address != null" >
        address,
      </if>
      <if test="guestCode != null" >
        guest_code,
      </if>
      <if test="enable != null" >
        enable,
      </if>
      <if test="innerCreateTime != null" >
        inner_create_time,
      </if>
      <if test="innerUpdateTime != null" >
        inner_update_time,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="contactCode != null" >
        #{contactCode,jdbcType=VARCHAR},
      </if>
      <if test="contactName != null" >
        #{contactName,jdbcType=VARCHAR},
      </if>
      <if test="contactTelephone != null" >
        #{contactTelephone,jdbcType=VARCHAR},
      </if>
      <if test="contactMobile != null" >
        #{contactMobile,jdbcType=VARCHAR},
      </if>
      <if test="position != null" >
        #{position,jdbcType=VARCHAR},
      </if>
      <if test="fax != null" >
        #{fax,jdbcType=VARCHAR},
      </if>
      <if test="contactEmail != null" >
        #{contactEmail,jdbcType=VARCHAR},
      </if>
      <if test="department != null" >
        #{department,jdbcType=VARCHAR},
      </if>
      <if test="province != null" >
        #{province,jdbcType=VARCHAR},
      </if>
      <if test="city != null" >
        #{city,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="guestCode != null" >
        #{guestCode,jdbcType=VARCHAR},
      </if>
      <if test="enable != null" >
        #{enable,jdbcType=INTEGER},
      </if>
      <if test="innerCreateTime != null" >
        #{innerCreateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="innerUpdateTime != null" >
        #{innerUpdateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.pcbwx.pcbmis.model.EdaContact" >
    update eda_contact
    <set >
      <if test="contactCode != null" >
        contact_code = #{contactCode,jdbcType=VARCHAR},
      </if>
      <if test="contactName != null" >
        contact_name = #{contactName,jdbcType=VARCHAR},
      </if>
      <if test="contactTelephone != null" >
        contact_telephone = #{contactTelephone,jdbcType=VARCHAR},
      </if>
      <if test="contactMobile != null" >
        contact_mobile = #{contactMobile,jdbcType=VARCHAR},
      </if>
      <if test="position != null" >
        position = #{position,jdbcType=VARCHAR},
      </if>
      <if test="fax != null" >
        fax = #{fax,jdbcType=VARCHAR},
      </if>
      <if test="contactEmail != null" >
        contact_email = #{contactEmail,jdbcType=VARCHAR},
      </if>
      <if test="department != null" >
        department = #{department,jdbcType=VARCHAR},
      </if>
      <if test="province != null" >
        province = #{province,jdbcType=VARCHAR},
      </if>
      <if test="city != null" >
        city = #{city,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="guestCode != null" >
        guest_code = #{guestCode,jdbcType=VARCHAR},
      </if>
      <if test="enable != null" >
        enable = #{enable,jdbcType=INTEGER},
      </if>
      <if test="innerCreateTime != null" >
        inner_create_time = #{innerCreateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="innerUpdateTime != null" >
        inner_update_time = #{innerUpdateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pcbwx.pcbmis.model.EdaContact" >
    update eda_contact
    set contact_code = #{contactCode,jdbcType=VARCHAR},
      contact_name = #{contactName,jdbcType=VARCHAR},
      contact_telephone = #{contactTelephone,jdbcType=VARCHAR},
      contact_mobile = #{contactMobile,jdbcType=VARCHAR},
      position = #{position,jdbcType=VARCHAR},
      fax = #{fax,jdbcType=VARCHAR},
      contact_email = #{contactEmail,jdbcType=VARCHAR},
      department = #{department,jdbcType=VARCHAR},
      province = #{province,jdbcType=VARCHAR},
      city = #{city,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR},
      guest_code = #{guestCode,jdbcType=VARCHAR},
      enable = #{enable,jdbcType=INTEGER},
      inner_create_time = #{innerCreateTime,jdbcType=TIMESTAMP},
      inner_update_time = #{innerUpdateTime,jdbcType=TIMESTAMP},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <!-- 以下为自定义接口 -->
  <select id="load" resultMap="BaseResultMap" >
    select 
    <include refid="Base_Column_List" />
    from eda_contact
  </select>
  <select id="selectByCode" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from eda_contact
    where contact_code = #{contactCode,jdbcType=VARCHAR}
  </select>
  <select id="selectByCondition" resultMap="BaseResultMap" parameterType="map" >
    select 
    <include refid="Base_Column_List" />
    from eda_contact
    where guest_code in 
    <foreach collection="guests" item="item" index="index" open="(" separator="," close=")">  
      #{item}  
    </foreach>
    <if test="condition != null" >
    	and contact_name like '%${condition}%'
    </if>
    and enable = 1
  </select>
</mapper>