<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pcbwx.pcbmis.dao.PcbCheckDetailMapper" >
  <resultMap id="BaseResultMap" type="com.pcbwx.pcbmis.model.PcbCheckDetail" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="check_num" property="checkNum" jdbcType="VARCHAR" />
    <result column="order_num" property="orderNum" jdbcType="VARCHAR" />
    <result column="template_code" property="templateCode" jdbcType="VARCHAR" />
    <result column="option_name" property="optionName" jdbcType="VARCHAR" />
    <result column="check_require" property="checkRequire" jdbcType="VARCHAR" />
    <result column="board_tolerance" property="boardTolerance" jdbcType="VARCHAR" />
    <result column="check_result" property="checkResult" jdbcType="VARCHAR" />
    <result column="bad_num" property="badNum" jdbcType="INTEGER" />
    <result column="judge_result" property="judgeResult" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, check_num, order_num, template_code, option_name, check_require, board_tolerance, 
    check_result, bad_num, judge_result, create_time, update_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from pcb_check_detail
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from pcb_check_detail
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.pcbwx.pcbmis.model.PcbCheckDetail" >
    insert into pcb_check_detail (id, check_num, order_num, 
      template_code, option_name, check_require, 
      board_tolerance, check_result, bad_num, 
      judge_result, create_time, update_time
      )
    values (#{id,jdbcType=INTEGER}, #{checkNum,jdbcType=VARCHAR}, #{orderNum,jdbcType=VARCHAR}, 
      #{templateCode,jdbcType=VARCHAR}, #{optionName,jdbcType=VARCHAR}, #{checkRequire,jdbcType=VARCHAR}, 
      #{boardTolerance,jdbcType=VARCHAR}, #{checkResult,jdbcType=VARCHAR}, #{badNum,jdbcType=INTEGER}, 
      #{judgeResult,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.pcbwx.pcbmis.model.PcbCheckDetail" >
    insert into pcb_check_detail
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="checkNum != null" >
        check_num,
      </if>
      <if test="orderNum != null" >
        order_num,
      </if>
      <if test="templateCode != null" >
        template_code,
      </if>
      <if test="optionName != null" >
        option_name,
      </if>
      <if test="checkRequire != null" >
        check_require,
      </if>
      <if test="boardTolerance != null" >
        board_tolerance,
      </if>
      <if test="checkResult != null" >
        check_result,
      </if>
      <if test="badNum != null" >
        bad_num,
      </if>
      <if test="judgeResult != null" >
        judge_result,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="checkNum != null" >
        #{checkNum,jdbcType=VARCHAR},
      </if>
      <if test="orderNum != null" >
        #{orderNum,jdbcType=VARCHAR},
      </if>
      <if test="templateCode != null" >
        #{templateCode,jdbcType=VARCHAR},
      </if>
      <if test="optionName != null" >
        #{optionName,jdbcType=VARCHAR},
      </if>
      <if test="checkRequire != null" >
        #{checkRequire,jdbcType=VARCHAR},
      </if>
      <if test="boardTolerance != null" >
        #{boardTolerance,jdbcType=VARCHAR},
      </if>
      <if test="checkResult != null" >
        #{checkResult,jdbcType=VARCHAR},
      </if>
      <if test="badNum != null" >
        #{badNum,jdbcType=INTEGER},
      </if>
      <if test="judgeResult != null" >
        #{judgeResult,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.pcbwx.pcbmis.model.PcbCheckDetail" >
    update pcb_check_detail
    <set >
      <if test="checkNum != null" >
        check_num = #{checkNum,jdbcType=VARCHAR},
      </if>
      <if test="orderNum != null" >
        order_num = #{orderNum,jdbcType=VARCHAR},
      </if>
      <if test="templateCode != null" >
        template_code = #{templateCode,jdbcType=VARCHAR},
      </if>
      <if test="optionName != null" >
        option_name = #{optionName,jdbcType=VARCHAR},
      </if>
      <if test="checkRequire != null" >
        check_require = #{checkRequire,jdbcType=VARCHAR},
      </if>
      <if test="boardTolerance != null" >
        board_tolerance = #{boardTolerance,jdbcType=VARCHAR},
      </if>
      <if test="checkResult != null" >
        check_result = #{checkResult,jdbcType=VARCHAR},
      </if>
      <if test="badNum != null" >
        bad_num = #{badNum,jdbcType=INTEGER},
      </if>
      <if test="judgeResult != null" >
        judge_result = #{judgeResult,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pcbwx.pcbmis.model.PcbCheckDetail" >
    update pcb_check_detail
    set check_num = #{checkNum,jdbcType=VARCHAR},
      order_num = #{orderNum,jdbcType=VARCHAR},
      template_code = #{templateCode,jdbcType=VARCHAR},
      option_name = #{optionName,jdbcType=VARCHAR},
      check_require = #{checkRequire,jdbcType=VARCHAR},
      board_tolerance = #{boardTolerance,jdbcType=VARCHAR},
      check_result = #{checkResult,jdbcType=VARCHAR},
      bad_num = #{badNum,jdbcType=INTEGER},
      judge_result = #{judgeResult,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
    <!-- 以下为自定义接口 -->
  <select id="selectByCheckNumAndOptionName" resultMap="BaseResultMap" parameterType="map" >
    select 
    <include refid="Base_Column_List" />
    from pcb_check_detail
    where 
    check_num = #{checkNum,jdbcType=VARCHAR}
     <if test="optionName != null" >
		and option_name = #{optionName,jdbcType=VARCHAR}
	</if>
  </select>
  <delete id="deleteByCheckNum" parameterType="map">
  	delete from pcb_check_detail
    where check_num = #{checkNum,jdbcType=VARCHAR}
  </delete>
  <select id="selectSumBadNumByChecknum" resultType="java.lang.Integer" parameterType="map" >
    SELECT SUM(bad_num)
    FROM pcb_check_detail
    WHERE 
    check_num = #{checkNum,jdbcType=VARCHAR}
  </select>
</mapper>