<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pcbwx.pcbmis.dao.PcbFileMapper">
  <resultMap id="BaseResultMap" type="com.pcbwx.pcbmis.model.PcbFile">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="rename" jdbcType="VARCHAR" property="rename" />
    <result column="size" jdbcType="VARCHAR" property="size" />
    <result column="path" jdbcType="VARCHAR" property="path" />
    <result column="url" jdbcType="VARCHAR" property="url" />
    <result column="type" jdbcType="INTEGER" property="type" />
    <result column="suffix" jdbcType="VARCHAR" property="suffix" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="user_code" jdbcType="VARCHAR" property="userCode" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, name, `rename`, size, path, url, type, suffix, status, user_code, create_time,
    update_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from pcb_file
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from pcb_file
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.pcbwx.pcbmis.model.PcbFile">
    insert into pcb_file (id, name, `rename`,
      size, path, url, type, 
      suffix, status, user_code, 
      create_time, update_time)
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{rename,jdbcType=VARCHAR}, 
      #{size,jdbcType=VARCHAR}, #{path,jdbcType=VARCHAR}, #{url,jdbcType=VARCHAR}, #{type,jdbcType=INTEGER}, 
      #{suffix,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER}, #{userCode,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.pcbwx.pcbmis.model.PcbFile">
    insert into pcb_file
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="rename != null">
        rename,
      </if>
      <if test="size != null">
        size,
      </if>
      <if test="path != null">
        path,
      </if>
      <if test="url != null">
        url,
      </if>
      <if test="type != null">
        type,
      </if>
      <if test="suffix != null">
        suffix,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="userCode != null">
        user_code,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="rename != null">
        #{rename,jdbcType=VARCHAR},
      </if>
      <if test="size != null">
        #{size,jdbcType=VARCHAR},
      </if>
      <if test="path != null">
        #{path,jdbcType=VARCHAR},
      </if>
      <if test="url != null">
        #{url,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        #{type,jdbcType=INTEGER},
      </if>
      <if test="suffix != null">
        #{suffix,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="userCode != null">
        #{userCode,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.pcbwx.pcbmis.model.PcbFile">
    update pcb_file
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="rename != null">
        rename = #{rename,jdbcType=VARCHAR},
      </if>
      <if test="size != null">
        size = #{size,jdbcType=VARCHAR},
      </if>
      <if test="path != null">
        path = #{path,jdbcType=VARCHAR},
      </if>
      <if test="url != null">
        url = #{url,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        type = #{type,jdbcType=INTEGER},
      </if>
      <if test="suffix != null">
        suffix = #{suffix,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="userCode != null">
        user_code = #{userCode,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pcbwx.pcbmis.model.PcbFile">
    update pcb_file
    set name = #{name,jdbcType=VARCHAR},
      `rename` = #{rename,jdbcType=VARCHAR},
      size = #{size,jdbcType=VARCHAR},
      path = #{path,jdbcType=VARCHAR},
      url = #{url,jdbcType=VARCHAR},
      type = #{type,jdbcType=INTEGER},
      suffix = #{suffix,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER},
      user_code = #{userCode,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  
    <insert id="insertBatch" parameterType="List" useGeneratedKeys="true" keyProperty="id">
        insert into pcb_file (id,name, `rename`,
        size, path, url, type,
        suffix, status, user_code,create_time)
        values
        <foreach collection="list" item="item" index="index" separator=",">
            (#{item.id,jdbcType=VARCHAR},#{item.name,jdbcType=VARCHAR}, #{item.rename,jdbcType=VARCHAR},
            #{item.size,jdbcType=VARCHAR}, #{item.path,jdbcType=VARCHAR}, #{item.url,jdbcType=VARCHAR},
            #{item.type,jdbcType=INTEGER},
            #{item.suffix,jdbcType=VARCHAR}, #{item.status,jdbcType=INTEGER},#{item.userCode,jdbcType=VARCHAR}, #{item.createTime,jdbcType=TIMESTAMP})
        </foreach>
    </insert>

    <update id="deleteOnStatus" parameterType="com.pcbwx.pcbmis.model.PcbFile">
        UPDATE pcb_file
        SET
        status      = #{status,jdbcType=INTEGER}
        WHERE id = #{fileId,jdbcType=INTEGER}
    </update>

    <select id="selectBatch" resultMap="BaseResultMap">
        SELECT id,name, size,path,suffix FROM pcb_file WHERE id in
        <foreach collection="list" item="item" index="index" open="(" separator="," close=")">
        #{item,jdbcType=VARCHAR}
      </foreach>
    </select>
</mapper>