<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pcbwx.pcbmis.dao.PcbReportCertificationExtraMapper" >
  <resultMap id="BaseResultMap" type="com.pcbwx.pcbmis.model.PcbReportCertificationExtra" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="report_num" property="reportNum" jdbcType="VARCHAR" />
    <result column="order_num" property="orderNum" jdbcType="VARCHAR" />
    <result column="key" property="key" jdbcType="VARCHAR" />
    <result column="value" property="value" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, report_num, order_num, key, value, create_time, update_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from pcb_report_certification_extra
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from pcb_report_certification_extra
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.pcbwx.pcbmis.model.PcbReportCertificationExtra" >
    insert into pcb_report_certification_extra (id, report_num, order_num, 
      key, value, create_time, 
      update_time)
    values (#{id,jdbcType=INTEGER}, #{reportNum,jdbcType=VARCHAR}, #{orderNum,jdbcType=VARCHAR}, 
      #{key,jdbcType=VARCHAR}, #{value,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.pcbwx.pcbmis.model.PcbReportCertificationExtra" >
    insert into pcb_report_certification_extra
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="reportNum != null" >
        report_num,
      </if>
      <if test="orderNum != null" >
        order_num,
      </if>
      <if test="key != null" >
        key,
      </if>
      <if test="value != null" >
        value,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="reportNum != null" >
        #{reportNum,jdbcType=VARCHAR},
      </if>
      <if test="orderNum != null" >
        #{orderNum,jdbcType=VARCHAR},
      </if>
      <if test="key != null" >
        #{key,jdbcType=VARCHAR},
      </if>
      <if test="value != null" >
        #{value,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.pcbwx.pcbmis.model.PcbReportCertificationExtra" >
    update pcb_report_certification_extra
    <set >
      <if test="reportNum != null" >
        report_num = #{reportNum,jdbcType=VARCHAR},
      </if>
      <if test="orderNum != null" >
        order_num = #{orderNum,jdbcType=VARCHAR},
      </if>
      <if test="key != null" >
        key = #{key,jdbcType=VARCHAR},
      </if>
      <if test="value != null" >
        value = #{value,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pcbwx.pcbmis.model.PcbReportCertificationExtra" >
    update pcb_report_certification_extra
    set report_num = #{reportNum,jdbcType=VARCHAR},
      order_num = #{orderNum,jdbcType=VARCHAR},
      key = #{key,jdbcType=VARCHAR},
      value = #{value,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <!-- 一下为自定义接口 -->
  <insert id="insertBatch" parameterType="java.util.List">
  	insert into pcb_report_certification_extra (report_num, order_num, `key`, `value`) values 
  	<foreach collection="list" item="item" index="index" separator=",">
            (#{item.reportNum,jdbcType=VARCHAR}, #{item.orderNum,jdbcType=VARCHAR},
            #{item.key,jdbcType=VARCHAR}, #{item.value,jdbcType=VARCHAR})
    </foreach>
  </insert>
  <select id="selectByReportNum" resultMap="BaseResultMap" parameterType="map">
  	select report_num, `key`, `value` from pcb_report_certification_extra
  	where report_num = #{reportNum,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByReportNum" parameterType="map" >
    delete from pcb_report_certification_extra
    where id = report_num = #{reportNum,jdbcType=VARCHAR}
  </delete>
</mapper>