<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pcbwx.pcbmis.dao.SystemLogMapper" >
  <resultMap id="BaseResultMap" type="com.pcbwx.pcbmis.model.SystemLog" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="user_name" property="userName" jdbcType="VARCHAR" />
    <result column="description" property="description" jdbcType="VARCHAR" />
    <result column="func_type" property="funcType" jdbcType="INTEGER" />
    <result column="user_browser_ver" property="userBrowserVer" jdbcType="VARCHAR" />
    <result column="user_ip" property="userIp" jdbcType="VARCHAR" />
    <result column="service_ip" property="serviceIp" jdbcType="VARCHAR" />
    <result column="is_record" property="isRecord" jdbcType="INTEGER" />
    <result column="creat_time" property="creatTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, user_name, description, func_type, user_browser_ver, user_ip, service_ip, is_record, 
    creat_time, update_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from system_log
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from system_log
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.pcbwx.pcbmis.model.SystemLog" >
    insert into system_log (id, user_name, description, 
      func_type, user_browser_ver, user_ip, 
      service_ip, is_record, creat_time, 
      update_time)
    values (#{id,jdbcType=INTEGER}, #{userName,jdbcType=VARCHAR}, #{description,jdbcType=VARCHAR}, 
      #{funcType,jdbcType=INTEGER}, #{userBrowserVer,jdbcType=VARCHAR}, #{userIp,jdbcType=VARCHAR}, 
      #{serviceIp,jdbcType=VARCHAR}, #{isRecord,jdbcType=INTEGER}, #{creatTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.pcbwx.pcbmis.model.SystemLog" >
    insert into system_log
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="userName != null" >
        user_name,
      </if>
      <if test="description != null" >
        description,
      </if>
      <if test="funcType != null" >
        func_type,
      </if>
      <if test="userBrowserVer != null" >
        user_browser_ver,
      </if>
      <if test="userIp != null" >
        user_ip,
      </if>
      <if test="serviceIp != null" >
        service_ip,
      </if>
      <if test="isRecord != null" >
        is_record,
      </if>
      <if test="creatTime != null" >
        creat_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="userName != null" >
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="description != null" >
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="funcType != null" >
        #{funcType,jdbcType=INTEGER},
      </if>
      <if test="userBrowserVer != null" >
        #{userBrowserVer,jdbcType=VARCHAR},
      </if>
      <if test="userIp != null" >
        #{userIp,jdbcType=VARCHAR},
      </if>
      <if test="serviceIp != null" >
        #{serviceIp,jdbcType=VARCHAR},
      </if>
      <if test="isRecord != null" >
        #{isRecord,jdbcType=INTEGER},
      </if>
      <if test="creatTime != null" >
        #{creatTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.pcbwx.pcbmis.model.SystemLog" >
    update system_log
    <set >
      <if test="userName != null" >
        user_name = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="description != null" >
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="funcType != null" >
        func_type = #{funcType,jdbcType=INTEGER},
      </if>
      <if test="userBrowserVer != null" >
        user_browser_ver = #{userBrowserVer,jdbcType=VARCHAR},
      </if>
      <if test="userIp != null" >
        user_ip = #{userIp,jdbcType=VARCHAR},
      </if>
      <if test="serviceIp != null" >
        service_ip = #{serviceIp,jdbcType=VARCHAR},
      </if>
      <if test="isRecord != null" >
        is_record = #{isRecord,jdbcType=INTEGER},
      </if>
      <if test="creatTime != null" >
        creat_time = #{creatTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pcbwx.pcbmis.model.SystemLog" >
    update system_log
    set user_name = #{userName,jdbcType=VARCHAR},
      description = #{description,jdbcType=VARCHAR},
      func_type = #{funcType,jdbcType=INTEGER},
      user_browser_ver = #{userBrowserVer,jdbcType=VARCHAR},
      user_ip = #{userIp,jdbcType=VARCHAR},
      service_ip = #{serviceIp,jdbcType=VARCHAR},
      is_record = #{isRecord,jdbcType=INTEGER},
      creat_time = #{creatTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
    <!-- 以下为自定义接口 -->
  <select id="selectByCreatTime" resultMap="BaseResultMap" parameterType="map">
  	select 
  	<include refid="Base_Column_List" />
    from system_log
    where 1=1
    <if test="lastRecordTime != null">
    	and creat_time > #{lastRecordTime,jdbcType=TIMESTAMP}
    </if>
  </select>
  <select id="selectByIsrecord" resultMap="BaseResultMap">
 	select 
  	<include refid="Base_Column_List" />
    from system_log
    where is_record = 0
  </select>
</mapper>